.preloader{
    width: 50px;
    height: 50px;
    background-size: cover;
    background-image: url("../src/assets/img/preloader.gif");
}
.posts-preloader{
    margin: 30px auto;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-image: url("../src/assets/img/preloader.gif");
}